body {background-color: #1DB2B3;}
h1{color: #F4E4F9; font-family: Garamond; font-size: 50px;}
p{color: #F4E4F9; font-family: Arial; font-size: 14px;}
img{margin-left: 250px; border-color: white; border-width: 5px; border-style: dotted;}
ul{color:#CD4DF3}
a{color:#CD4DF3;text-decoration: none;}
a:hover {color: #4DF356;}
